
@{
    ViewData["Title"] = "Diego Pillon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <h2>Docente</h2>

    <div>
        Impiegato ITC e programmatore.
    </div>

    <h2>Principali competenze</h2>
    <ul>
        <li>MS SQL</li>
        <li>Html</li>
        <li>C#</li>
    </ul>

    <h2>Hobby</h2>
    <div>
        <ol>
            <li>Gaming</li>
        </ol>
    </div>
